.title {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
}

.generateButtons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.generateButton {
  align-self: stretch;
  border-radius: 8px;
  padding: 12px;
  gap: 8px;
  overflow: hidden;
  background-color: #006184;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
  z-index: 10;
}

.generateAltButton {
  align-self: center;
  border-radius: 8px;
  margin-top: -46px;
  padding: 12px;
  gap: 8px;
  overflow: hidden;
  background-color: #006184;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
}

.saveButton {
  align-self: stretch;
  border-radius: 8px;
  padding: 12px;
  gap: 8px;
  overflow: hidden;
  background-color: #006184;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
}

.generateButton:hover,
.generateAltButton:hover,
.saveButton:hover {
  background-color: #004d6a;
}

.fullScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw; /* Ensure it takes full width */
}

.contentWrapper {
  width: 100%;
  max-width: 600px;
  padding: 20px; /* Prevent content from touching screen edges */
}

.savedEffect {
  background-color: #d4edda !important; /* Light green background */
  transition: background-color 0.2s ease-in-out;
}
